/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot") format("eot"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.eot");
  src: url("../fonts/Roboto-Italic.eot") format("eot"), url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot") format("eot"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-CondensedBold.eot");
  src: url("../fonts/DINPro-CondensedBold.eot") format("eot"), url("../fonts/DINPro-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot") format("eot"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.container {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.btn button {
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 35px;
  background: none;
  border: none;
  border-radius: 22px;
  background-image: linear-gradient(180deg, #fff9cd 0%, #fffb9e 100%);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
}

.ttl {
  text-align: center;
}
.ttl h1 {
  font-family: Ubuntu;
  font-size: 48px;
  font-weight: bold;
  line-height: 43px;
}
.ttl h2 {
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}
.ttl h4 {
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
}

.navigation-arrow {
  width: 90px;
  float: right;
  margin-right: 10px;
}
.navigation-arrow .prev-arrow {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #727272;
  margin: 3px;
  text-align: center;
  cursor: pointer;
}
.navigation-arrow .prev-arrow img {
  margin-top: 9px;
}
.navigation-arrow .next-arrow {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #727272;
  margin: 3px;
  text-align: center;
  cursor: pointer;
}
.navigation-arrow .next-arrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 9px;
}

header {
  background: #d4f2ff;
  min-height: 77px;
}
header .header--block {
  height: 77px;
}
header .header--block .logo-h a {
  font-family: "DIN Pro";
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
}
header .header--block .phone-h .ph {
  margin-left: 20px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}
header .header--block .phone-h .ph-b {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
}
header .header--block .callback-h .vertical-a {
  vertical-align: super;
  margin-left: 10px;
}

nav .mmenu {
  display: flex;
  justify-content: flex-end;
}
nav .mmenu ul {
  max-width: 720px;
  width: 100%;
  height: 45px;
}
nav .mmenu ul li {
  margin-right: 15px;
  list-style: none;
  display: inline-block;
}
nav .mmenu ul li a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  transition: all 0.4s;
}
nav .mmenu ul li:last-child {
  margin-right: 0;
}
nav .mmenu ul li.active a:after, nav .mmenu ul li:hover a:after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -12px;
  border-bottom: 4px solid #7d92ff;
}

.call {
  margin-top: 39px;
}
.call .txt-phone {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
}
.call .number-phone {
  font-family: "DIN Pro";
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
}

section {
  position: relative;
}
section .cube {
  top: 65px;
  width: 45%;
  min-height: 595px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: absolute;
}
section .cube-l {
  left: 0;
}
section .cube-l .img {
  position: absolute;
  right: 55px;
  top: 60px;
}
section .cube-l .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
section .cube-r {
  right: 0;
}
section .cube-r .img {
  position: absolute;
  top: 50px;
  left: 130px;
}
section .cube-r .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
section.one-screen {
  min-height: 700px;
  background: #d4f2ff;
  position: relative;
}
section.one-screen .main-screen {
  position: relative;
  top: 102px;
  z-index: 3;
  min-height: 520px;
  border-radius: 25px;
  padding-top: 102px;
  background-color: rgba(255, 255, 255, 0.8);
}
section.one-screen .btn-one-screen {
  text-align: center;
  margin-top: 120px;
}
section.one-screen .btn-one-screen button {
  background: #ff9bab;
  font-weight: bold;
}
section.two-screen .services {
  margin-top: 72px;
}
section.two-screen .services-oplet {
  flex-wrap: wrap;
  margin-top: 41px;
}
section.two-screen .services-oplet .service {
  width: 297px;
  height: 297px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #ffedee;
  text-align: center;
  padding: 10px;
  margin: 11px;
  display: block;
  float: left;
}
section.two-screen .services-oplet .service .ico img {
  display: inline-block;
}
section.two-screen .services-oplet .service .ttl-service {
  margin-top: 5px;
  margin-bottom: 10px;
}
section.two-screen .services-oplet .service p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
section.two-screen .services .bg-water {
  background: url(../img/bg-water.png) no-repeat;
  background-position: center center;
}
section.two-screen .services .bg-fire {
  background: url(../img/bg-fire.png) no-repeat;
  background-position: center center;
}
section.three-screen {
  clear: both;
  background: #d4f2ff;
  min-height: 720px;
  margin-top: 25px;
}
section.three-screen .cube {
  top: 89px;
}
section.three-screen .stock-one {
  padding: 25px 0;
}
section.three-screen .stock-one .stock-list {
  position: relative;
  z-index: 3;
  top: 47px;
  background: rgba(255, 255, 255, 0.8);
  min-height: 549px;
  border-radius: 15px;
  padding: 60px 60px;
}
section.three-screen .stock-one .stock-list ul li {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
section.three-screen .stock-one .stock-list ul li .ico {
  margin-right: 35px;
}
section.three-screen .stock-one .stock-list ul li .ico img {
  max-width: 75px;
  height: auto;
}
section.three-screen .stock-one .stock-list ul li:first-child {
  margin: 0;
}
section.three-screen .stock-one .stock-list .stock-one-btn {
  margin-top: 50px;
}
section.three-screen .stock-one .stock-list .stock-one-btn button {
  background: #ff9bab;
}
section.four-screen .reviews {
  margin-top: 69px;
}
section.four-screen .reviews-oplet {
  margin-top: 54px;
  align-items: baseline;
}
section.four-screen .reviews-oplet .review {
  max-width: 213px;
  text-align: center;
  padding: 0 10px;
}
section.four-screen .reviews-oplet .review .desc {
  margin-top: 28px;
}
section.four-screen .reviews-oplet .review .desc p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
section.five-screen {
  margin-top: 73px;
}
section.five-screen .advantages-oplet {
  margin-top: 52px;
}
section.five-screen .advantages .advantage-item .img-autor {
  margin-right: 78px;
  float: left;
}
section.five-screen .advantages .advantage-item .img-autor img {
  max-width: 430px;
  width: 100%;
  height: auto;
}
section.five-screen .advantages .advantage-item .name-autor h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
section.five-screen .advantages .advantage-item .txt-autor {
  margin-left: 78px;
  margin-top: 33px;
}
section.five-screen .advantages .advantage-item .txt-autor p {
  color: #696969;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  font-style: italic;
}
section.stock-two {
  clear: both;
  min-height: 620px;
  background: url(../img/boiler-bg-stock-two.jpg);
  background-position: center center;
  position: relative;
  margin-top: 70px;
}
section.stock-two .stock-two-oplet {
  position: relative;
  top: 71px;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  min-height: 470px;
}
section.stock-two .stock-two-oplet .utp {
  padding-top: 64px;
}
section.stock-two .stock-two-oplet .utp h2 {
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}
section.stock-two .stock-two-oplet .desc {
  margin-top: 39px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
section.brands-screen {
  padding-top: 70px;
}
section.brands-screen .brands-oplet {
  margin-top: 40px;
  flex-wrap: wrap;
}
section.brands-screen .brands-oplet .item {
  margin: 5px 0;
}
section.six-screen {
  margin-top: 70px;
  min-height: 720px;
  background: #d4f2ff;
  position: relative;
  padding: 20px 0;
}
section.six-screen .garant {
  flex-wrap: wrap;
  top: 45px;
  position: relative;
  z-index: 3;
  height: 492px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
section.six-screen .garant .col-pol {
  width: 50%;
  padding: 0 50px;
}
section.six-screen .garant .col-pol .item {
  text-align: center;
}
section.six-screen .garant .col-pol .item .ttl {
  margin-top: 20px;
}
section.six-screen .garant .col-pol .item .ttl h3 {
  font-size: 22px;
  font-weight: bold;
}
section.six-screen .garant .col-pol .item .desc {
  margin-top: 20px;
}
section.six-screen .garant .col-pol .item .desc p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
section.six-screen .garant .width-all {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
section.seven-screen {
  margin-top: 70px;
}
section.seven-screen .contacts .contact {
  margin-top: 52px;
}
section.seven-screen .contacts .contact .col-pol {
  width: 50%;
}
section.seven-screen .contacts .contact .col-pol ul li {
  margin: 12px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  list-style: none;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}
section.seven-screen .contacts .contact .col-pol ul li .ico {
  margin-right: 20px;
}
section.seven-screen .contacts .contact .col-pol .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
section.seven-screen .contacts .contact .col-pol .contacts-btn {
  margin-top: 80px;
}
section.seven-screen .contacts .contact .col-pol .contacts-btn button {
  background: #ff9bab;
}

footer {
  min-height: 220px;
  background-color: #3b3b3b;
  color: #fff;
  margin-top: 130px;
  padding-top: 40px;
}
footer .footer-oplet .logo-f a {
  font-family: "DIN Pro";
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
}
footer .footer-oplet .phone-f a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}
footer .footer-oplet .phone-f .ico {
  margin-right: 10px;
}
footer .footer-oplet .phone-f strong {
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
}
footer .footer-oplet .social-f ul li {
  display: inline-block;
  list-style: none;
  padding: 2px;
}
footer .offer {
  text-align: center;
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
footer .offer p {
  font-size: 12px;
}
footer .offer sup {
  color: red;
}
footer .copyright {
  margin-top: 15px;
  text-align: center;
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
  color: #6b6b6b;
}
footer .copyright p {
  font-size: 12px;
  padding: 3px;
}
footer .copyright p a {
  color: green;
}
