@import "_normalize";
$R: 'Roboto-Regular';
$Ri: 'Roboto-Italic';
$DINCB: 'DINPro-CondensedBold';
$UB: 'Ubuntu-Bold';
$RN: 'Roboto';
$DINCBN: 'DINPro CondensedBold';
$UN: 'Ubuntu';

$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 700;
$black: 900;
$light: 300;

$dir:'../fonts/';
$bgcolor:#d4f2ff;
$wt:#fff;
$bk:#000;
$ttl:36px;
$fz:16px;


@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
                font-family: $fontfamily;
                src: url($dir+$fontname+'.eot');
                src: url($dir+$fontname+'.eot') format("eot"),
                     url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@include font($R, $normal, $normal, $RN);
@include font($Ri, $normal, $italic, $RN);
@include font($DINCB, $bold, $normal, $DINCBN);
@include font($UB, $bold, $normal, $UN);

