@import "_normalize";
$R: 'Roboto-Regular';
$Ri: 'Roboto-Italic';
$Rb: 'Roboto-Bold';
$DINCB: 'DINPro-CondensedBold';
$UB: 'Ubuntu-Bold';
$RN: 'Roboto';
$DINCBN: 'DIN Pro';
$UN: 'Ubuntu';

$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 700;
$black: 900;
$light: 300;

$dir:'../fonts/';
$bgcolor:#d4f2ff;
$wt:#fff;
$bk:#000;
$ttl:36px;
$fz:16px;
$shadow-cube: 0 0 10px rgba(0, 0, 0, 0.15);
$white-bg:  rgba(255,255,255,0.8);
$btn-color: #ff9bab;
@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
                font-family: $fontfamily;
                src: url($dir+$fontname+'.eot');
                src: url($dir+$fontname+'.eot') format("eot"),
                     url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@mixin trans(){
    transition: all 0.4s;
}
@include font($R, $normal, $normal, $RN);
@include font($Ri, $normal, $italic, $RN);
@include font($Rb, $bold, $normal, $RN);
@include font($DINCB, $bold, $normal, $DINCBN);
@include font($UB, $bold, $normal, $UN);

.container{
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.df{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.df-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    max-width: 100%;
    display: flex;
    justify-content: center;
    button{
        @include trans();
        width: 260px;
        height: 35px;
        background: none;
        border: none;
        border-radius: 22px;
        background-image: linear-gradient(180deg, rgba(255, 249, 205, 1) 0%, rgba(255, 251, 158, 1) 100%);
        font-family: Roboto;
        font-size: $fz;
        font-weight: 400;
        line-height: 14px;
        &:hover{
            transform: scale(1.15);
        }
    }
}
.ttl{
    text-align: center;
    h1{
        font-family: Ubuntu;
        font-size: 48px;
        font-weight: $bold;
        line-height: 43px;
    }
    h2{
        font-family: Ubuntu;
        font-size: 36px;
        font-weight: $bold;
        line-height: 42px;
    }
    h4{
        font-family: "Ubuntu";
        font-size: 20px;
        font-weight: $bold;
        line-height: 23px;
    }
}
body{
    font-family: Roboto, Tahoma, sans-serif;
    font-size: $fz;
}
.navigation-arrow{
    width: 90px;
    float: right;
    margin-right: 10px;
    .prev-arrow{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #727272;
        margin: 3px;
        text-align: center;
        cursor: pointer;
        img{
            margin-top: 9px;
        }
    }
    .next-arrow{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #727272;
        margin: 3px;
        text-align: center;
        cursor: pointer;
        img{
            transform: rotate(180deg);
            margin-top: 9px;
        }
    }
}
header{
    background: $bgcolor;
    min-height: 77px;
    .header--block{
        min-height: 77px;
        .logo-h{
            a{
                font-family: "DIN Pro";
                font-size: 36px;
                font-weight: 400;
                line-height: 32px;
            }
        }
        .phone-h{
            .ph{
                margin-left: 20px;
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                line-height: 22px;
            }
            .ph-b{
                font-family: Roboto;
                font-size: 24px;
                font-weight: $bold;
                line-height: 22px;
            }
        }
        .callback-h{
            .vertical-a{
                vertical-align: super;
                margin-left: 10px;
            }
        }
    }
}
nav{
    .mmenu{
        display: flex;
        justify-content: flex-end;
        position: relative;
        ul{
            max-width: 720px;
            width: 100%;
            height: 45px;
            li{
                margin-right: 15px;
                list-style: none;
                display: inline-block;
                
                a{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: $fz;
                    position: relative;
                    @include trans();
                }
                &:last-child{
                margin-right: 0;
                }
                &.active a:after, &:hover a:after{
                    content: "";
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: -12px;
                    border-bottom: 4px solid #7d92ff;
                }
            }
        }
    }
}
.call{
    margin-top: 39px;
    .txt-phone{
        font-family: Roboto;
        font-size: 24px;
        font-weight: $bold;
        line-height: 31px;
    }
    .number-phone{
        font-family: "DIN Pro";
        font-size: 50px;
        font-weight: 400;
        line-height: 64px;
    }
}
section{
    position: relative;
    .cube{
        top: 65px;
        width: 45%;
        min-height: 595px;
        box-shadow: $shadow-cube;
        position: absolute;
    }
    .cube-l{
        left: 0;
        .img{
            position: absolute;
            right: 55px;
            top: 60px;
            img{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
    .cube-r{
        right: 0;
        .img{
            position: absolute;
            top: 50px;
            left: 130px;
            img{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
    &.one-screen{
        min-height: 700px;
        background: $bgcolor;
        position: relative;
        .main-screen{
            position: relative;
            top: 102px;
            z-index: 3;
            min-height: 520px;
            border-radius: 25px;
            padding-top: 102px;
            background-color: $white-bg;
        }
        .btn-one-screen{
            text-align: center;
            margin-top: 120px;
            button{
                background: $btn-color;
                font-weight: bold;
            }
        }
    }
    &.two-screen{
        .services{
            margin-top: 72px;
                &-oplet{
                    flex-wrap: wrap;
                    margin-top: 41px;
                    .service{
                    width: 297px;
                    height: 297px;
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
                    border-radius: 8px;
                    background-color: #ffedee;
                    text-align: center;
                    padding: 10px;
                    margin: 11px;
                    display: block;
                    float: left;
                        .ico{
                            
                            img{ display: inline-block;}
                        }
                        .ttl-service{
                            margin-top: 5px;
                            margin-bottom: 10px;
                        }
                        p{

                            font-family: Roboto;
                            font-size: $fz;
                            font-weight: 400;
                            line-height: 19px;
                        }
                    }
                }
            .bg-water{
                background: url(../img/bg-water.png)no-repeat;
                background-position: center center;
            }
            .bg-fire{
                background: url(../img/bg-fire.png)no-repeat;
                background-position: center center;
            }
        }
    }
    &.three-screen{
        clear: both;
        background: $bgcolor;
        min-height: 720px;
        margin-top: 90px;
        .cube{
            top: 89px;
        }
        .cube-l{
            
        }
        .cube-r{
            
        }
        .stock{
            
        }
        .stock-one{
            padding: 25px 0;
           .stock-ttl{
               
           }
            .stock-list{
                position: relative;
                z-index: 3;
                top: 47px;
                background: $white-bg;
                min-height: 549px;
                border-radius: 15px;
                padding: 60px 60px;
                ul{
                    li{
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21px;
                        list-style: none;
                        position: relative;
                        display: flex;
                        -webkit-align-items: center;
                                align-items: center;
                        margin: 20px 0;
                        .ico{
                            margin-right: 35px;
                            img{
                                max-width: 75px;
                                height: auto;
                            }
                        }
                        &:first-child{
                            margin: 0;
                        }
                    }
                }
                .stock-one-btn{
                    margin-top: 50px;
                    button{
                        background: $btn-color;
                    }
                }
            }
        }
    }
    &.four-screen{
        .reviews{
            margin-top: 69px;
            &-oplet{
                margin-top: 54px;
                -webkit-align-items: baseline;
                        align-items: baseline;
                .review{
                    max-width: 213px;
                    text-align: center;
                    padding: 0 10px;
                    .ico{
                        img{
                            
                        }
                    }
                    .desc{
                        margin-top: 28px;
                        p{
                            font-family: Roboto;
                            font-size: $fz;
                            font-weight: 400;
                            line-height: 21px;
                        }
                    }
                }
            }
        }
    }
    &.five-screen{
        margin-top: 73px;
        .advantages{
            &-oplet{
                margin-top: 52px;
            }
            .advantage-item{
                .img-autor{
                    margin-right: 78px;
                    float: left;
                    img{
                        max-width: 430px;
                        width: 100%;
                        height: auto;
                    }
                }
                .name-autor{
                    
                    h3{
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 28px;
                    }
                }
                .txt-autor{
                    margin-left: 78px;
                    margin-top: 33px;
                    p{
                        color: #696969;
                        font-family: Roboto;
                        font-size: $fz;
                        font-weight: 400;
                        line-height: 23px;
                        font-style: italic;
                    }
                }
            }
        }
    }
    &.stock-two{
        clear: both;
        min-height: 620px;
        background: url(../img/boiler-bg-stock-two.jpg);
        background-position: center center;
        position: relative;
        margin-top: 70px;
        .stock-two-oplet{
            position: relative;
            top: 71px;
            text-align: center;
            border-radius: 15px;
            background: $white-bg;
            min-height: 470px;
            .utp{
                padding-top: 64px;
                h2{
                    font-family: Ubuntu;
                    font-size: 36px;
                    font-weight: $bold;
                    line-height: 42px;
                }
            }
            .desc{
                margin-top: 39px;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &.brands-screen{
        padding-top: 70px;
        .brands-oplet{
            margin-top: 40px;
            flex-wrap: wrap;
            .item{
                margin: 5px 0;
                img{
                    
                }
            }
        }
    }
    &.six-screen{
        margin-top: 70px;
        min-height: 720px;
        background: $bgcolor;
        position: relative;
        padding: 20px 0;
        .garant{
            flex-wrap: wrap;
            top: 45px;
            position: relative;
            z-index: 3;
            min-height: 492px;
            border-radius: 15px;
            background-color: $white-bg;
            .col-pol{
                width: 50%;
                padding: 0 50px;
                .item{
                    text-align: center;
                    .ico{
                        img{}
                    }
                    .ttl{
                        margin-top: 20px;
                        h3{
                           font-size: 22px;
                           font-weight: bold;
                        }
                    }
                    .desc{
                        margin-top: 20px;
                        p{
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 23px;
                        }
                    }
                }
            }
            .width-all{
                max-width: 300px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &.seven-screen{
        margin-top: 70px;
        .contacts{
            .contact{
                margin-top: 52px;
                .col-pol{
                    width: 50%;
                    ul{
                        li{
                            margin: 12px 0;
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: -o-flex;
                            display: flex;
                            align-items: center;
                            list-style: none;
                            font-family: Roboto;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 22px;
                            .ico{
                                margin-right: 20px;
                                img{}
                            }
                            .txt{
                                a{
                                    
                                }
                            }
                        }
                    }
                    .img{
                        img{
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .contacts-btn{
                        margin-top: 80px;
                        button{
                            background: $btn-color;
                        }
                    }
                }
            }
        }
    }
}

footer{
    min-height: 220px;
    background-color: #3b3b3b;
    color: #fff;
    margin-top: 130px;
    padding-top: 40px;
    .footer-oplet{
        .logo-f{
            a{
                font-family: "DIN Pro";
                font-size: 36px;
                font-weight: 400;
                line-height: 32px;
                color: #fff;
            }
        }
        .phone-f{
            a{
                color: #ffffff;
                font-family: Roboto;
                font-size: 24px;
                font-weight: 400;
                line-height: 22px;
            }
            .ico{
                margin-right: 10px;
                img{}
            }
            strong{
                font-size: 24px;
                font-weight: $bold;
                line-height: 22px;
            }
        }
        .social-f{
            ul{
                li{
                    display: inline-block;
                    list-style: none;
                    padding: 2px;
                    a{
                        img{
                            
                        }
                    }
                }
            }
        }
    }
    .offer{
        text-align: center;
        max-width: 956px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 55px;
        p{
            font-size: 12px;
        }
        sup{
            color: red;
        }
    }
    .copyright{
        margin-top: 15px;
        text-align: center;
        max-width: 956px;
        margin-left: auto;
        margin-right: auto;
        color: #6b6b6b;
        p{
            font-size: 12px;
            padding: 3px;
            a{
                color: green;
            }
        }
    }
}



$height-icon: 20px;
$width-line: 42px;
$height-line: 4px;
$color: #000;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#hamburger-icon {
  width:$width-line;
  height:$height-icon;
  position:relative;
  display:none;
  margin: 8px;
  margin-bottom: 12px;
  .line {
    display:block;
    background:$color;
    width:$width-line;
    height:$height-line;
    position:absolute;
    left:0;
    border-radius:($height-line / 2);
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}

.modal{
    max-width: 600px;
    width: 100%;
    min-height: 300px;
    background: $bgcolor;
    border-radius: 15px;
    box-shadow: $shadow-cube;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    form{
        padding: 30px;
        fieldset{
            padding-top: 10px;
            input{
                padding: 0 15px;
                border: 1px solid #000;
                border-radius: 8px;
                background: none;
                height: 35px;
                width: 100%;
            }
            textarea{
                padding: 15px 15px;
                border: 1px solid #000;
                border-radius: 8px;
                background: none;
                height: 55px;
                width: 100%;
            }
        }
        .modal-window-btn{
            margin-top: 50px;
            button{
                
            }
        }
    }
}
.persdata{
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    line-height: 1.3;
    a{
        color: blue;
    }
}
#top-menu{
    position: fixed;
    bottom: 50px;
    left: 50px;
    text-align: center;
    .img{
        a{
            box-shadow: $shadow-cube;
            border-radius: 8px;
            display: inline-block;
            background: #fffab3;
            width: 40px;
            height: 40px;
            text-align: center;
            padding-top: 9px;
            padding-right: 2px;
            img{
                transform: rotate(90deg);
            }
        }
    } 
}

#contact_successfully{
    padding: 10px 30px;
    background: #00ff97;
    border-radius: 8px;
}














